main{
    width: 100vw;
    height: 100vh;
    .container {
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 50px;
            font-weight: bold;
            font-size: 1rem;
            background-color: $backgroundColor;
            padding: 20px;
            width: 50vw;
    }
    form input{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
    }
    input{
        padding: 5px;
        border: 1px solid blue;
        border-radius: 10px;
        margin: 9px;
        color: black;
        left: 20px;
    }
}